{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="card mb-3 position-absolute top-50 start-50 translate-middle" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="#" class="img-fluid rounded-start" alt="Profile image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.username }}</h5>
          <p class="card-email">{{ user.email }}</p>
          <a href="{% url 'logout' %}" class="link-danger">Logout</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
